@model SO.Urba.Manager.Models.ViewModels.AllReferralsByDateVM
@{
    String now2 = DateTime.Now.ToString("MM/dd/yyyy");
    String lastYear2 = DateTime.Now.AddYears(-1).ToString("MM/dd/yyyy");
}

<div class="span12" style="color: red">
    <br />
    <b>
        @Html.ValidationSummary()
    </b>
</div>

<div id="AllReferralsByDateForm" style="position:relative;">
    <div>
        <span>From:</span>
        <input type="datetime" id="fDate2" name="fDate2" value="@lastYear2" class="form-control" style="width:75px;" />
        @Html.ValidationMessageFor(m => m.fDate2, "", new { @class = "text-error" })
        <br /> <br />
    </div>
    <div>
        <span>To:</span>
        <input type="datetime" id="tDate2" name="tDate2" value="@now2" class="form-control" style="width:75px; margin-left:20px;" />
        @Html.ValidationMessageFor(m => m.tDate2, "", new { @class = "text-error" })
    </div>
</div>