@model HomePageContent
@{
    ViewBag.Title = "about_us";
    Layout = null;
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US">
<head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <title> Urban Network </title>
    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- Theme Style -->
    <link rel="stylesheet" type="text/css" href="~/style.css">
    <!-- Favicon and touch icons  -->
    <link rel="shortcut icon" href="~/assets/icon/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="~/assets/icon/apple-touch-icon-158-precomposed.png">
    <!--navigation bar link-->
<style>
    .overlay-image { position:absolute; bottom:100%; left:0; right:0; background-color:rgba(0, 0, 0, 0.12); overflow:hidden; width:100%;
					height:0; transition:0.5s ease; }
.border-calendar .overlay-div:hover .overlay-image{ height:100%; bottom:0; }
.text-overlay  { position:absolute; left:50%; top:50%; transform:translate(-50%,-50%); color:#fff; font-weight:bold; }
.overlay-div { position: relative; }
</style>
</head>

<body class="front-page no-sidebar site-layout-full-width header-style-5 menu-has-search menu-has-cart header-sticky">
    <!--navbar-->  <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-2">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="" href="#"><img src="~/images/urban-logo-Copy.jpg" class="img-responsive" alt="logo" /></a>
                    </div>

                </div>
                <div class="col-sm-10">
                    <div class="collapse navbar-collapse" id="myNavbar">

                        <!--social icon-->
                        <div class="row">
                            <div class="col-sm-12">
                                <ul class="nav navbar-nav navbar-right social-icon">
                                    <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                                    <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                                    <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
                                    <li><a href="#"><span class="fa fa-rss"></span></a></li>

                                    <li><a href="#"><span class="fa fa-youtube"></span></a></li>
                                    <li><a href="#"><span class="fa fa-instagram"></span></a></li>
                                </ul>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <!--social icon-->
                                <ul class="nav navbar-nav navbar-right menu-margin">
                                    <li><a href="~/HTML/index">HOME</a></li>
                                    <li><a href="~/HTML/our_services">SERVICES</a></li>
                                    <li><a href="~/HTML/about_us">ABOUT US</a></li>
                                    <li><a href="~/HTML/how_it_work">HOW IT WORKS</a></li>
                                    <li><a href="~/HTML/blog">BLOG</a></li>
                                    <li><a href="#">FAQ</a></li>
                                    <li><a href="~/HTML/Testimonials">TESTIMONIALS</a></li>
                                    <li><a href="~/HTML/contact_us" style="border:0;padding-right:0;">CONTACT US</a></li>
                                    <li><button class="btn" onclick="location.href='@Url.Action("Login","Account",  new { target="_blank" })'"><span class="fa fa-user-circle-o">&nbsp;&nbsp; </span>LOGIN / REGISTER</button></li>
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <div id="wrapper" class="animsition" style="animation-duration: 1500ms; opacity: 1;">
        <div id="page" class="clearfix">
            <!-- Featured Title -->
            @if (Model != null && Model.Section1 != null)
            {
                @Html.Raw(Model.Section1)
            }
            else
            {
                <div id="section1">
                    <div class="section-1 text-center smallbanner">
                        <h1 Class="bold" contenteditable="true">ABOUT US</h1>
                    </div>
                </div>
            }
            <!-- Main Content -->
            <div id="main-content" class="site-main clearfix">
                <div id="content-wrap">
                    <div id="site-content" class="site-content clearfix">
                        <div id="inner-content" class="inner-content-wrap">
                            <div class="page-content">

                                <div id="section2">
                                    <!-- GALLERY -->
                                    @if (Model != null && Model.Section2 != null)
                                    {
                                        @Html.Raw(Model.Section2)
                                    }
                                    else
                                    {

                                        <section class="wprt-section">
                                            <div class="container">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="wprt-spacer" data-desktop="80" data-mobi="60" data-smobi="60" style="height:80px"></div>
                                                    </div>
                                                    <div class="col-md-5 col-md-offset-0 col-sm-10 col-sm-offset-1 col-xs-12 col-xs-100pc">
                                                        <div class="about-com-pic">
                                                            <img src="~/images/about-pic.jpg" alt="image" class="img-responsive">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-7 col-sm-12 col-xs-12 col-xs-100pc">
                                                        <div class="section-head text-left">

                                                            <div class="wprt-spacer" data-desktop="0" data-mobi="20" data-smobi="30" style="height:30px"></div>

                                                            <h2 class="text-uppercase bold" contenteditable="true"> About the Company </h2>
                                                            <div class="wt-separator-outer">
                                                                <div class="wt-separator style-square left">
                                                                    <span class="separator-right bg-primary"></span>
                                                                </div>
                                                            </div>
                                                            <p style="text-align:justify; margin-top:20px;" class="pb-color pb10" contenteditable="true">
                                                                <span class="webcolor"> TheURBANetwork, </span> founded in 1988 by a coalition of block clubs and community
                                                                organizations to  improve the  quality of life  in  urban communities, created the
                                                                Urban Referral  Network  in  2016 as a means to improve  the quality of services
                                                                and  goods  provided  to  urban consumers.  Additionally,  the  Urban  Referral
                                                                Network aspires to encourage entrepreneurship and increase commerce in
                                                                urban communities.
                                                            </p>
                                                            <h4 class="webcolor" contenteditable="true"><b>Urban Referral Network consists of two primary functions:  </b></h4>
                                                            <p class="pb-color pb5" contenteditable="true"> <i class="fa fa-circle"></i> Contractor Referral</p>
                                                            <p class="pb-color pb5" contenteditable="true"> <i class="fa fa-circle"></i> Online marketing of local retailers: Urban Livings</p>
                                                        </div>
                                                        <div class="wprt-spacer" data-desktop="50" data-mobi="0" data-smobi="0" style="height:50px"></div>
                                                        <div class="row">
                                                            <div class="col-md-6 col-sm-6  p-tb20 ">
                                                                <div class="wt-icon-box-wraper left  bdr-1 bdr-gray-dark p-lr10 clearfix ">
                                                                    <div class="icon-md text-primary">
                                                                        <img src="~/images/phone.jpg" alt="" class="img-responsive">
                                                                    </div>
                                                                    <div class="icon-content" contenteditable="true">
                                                                        <h6 class="fontf text-uppercase m-b0"><b> Phone </b></h6>
                                                                        <p class="m-b0">+1(323) 290-4089</p>
                                                                        <p class="m-b0">+1(323)290-4089 </p>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="col-md-6 col-sm-6  p-tb20 ">
                                                                <div class="wt-icon-box-wraper left  bdr-1 bdr-gray-dark p-lr10 clearfix ">
                                                                    <div class="icon-md text-primary">
                                                                        <img src="~/images/mail.jpg" alt="" class="img-responsive">
                                                                    </div>
                                                                    <div class="icon-content" contenteditable="true">
                                                                        <h6 class="fontf text-uppercase m-b0"><b>Email </b></h6>
                                                                        <p class="m-b0"><a href="#">info@demo.com </a></p>
                                                                        <p class="m-b0"><a href="#">info@demo1234.com </a></p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-12">
                                                        <div class="wprt-spacer" data-desktop="80" data-mobi="60" data-smobi="60" style="height:80px"></div>
                                                    </div>
                                                </div>
                                            </div>

                                        </section>

                                    }
                                </div>
                                <div id="section3">
                                    @if (Model != null && Model.Section3 != null)
                                    {
                                        @Html.Raw(Model.Section3)
                                    }
                                    else
                                    {

                                        <section class="paddtb60 about_us">
                                            <div class="container">
                                                <div class="row">
                                                    <div class="col-md-12 col-md-offset-0">
                                                        <h2 class="text-center uppercase webcolor bold" contenteditable="true"> ADDITIONAL SERVICES </h2>
                                                        <!--border-->							<div class="wt-separator-outer">
                                                            <div class="wt-separator style-square">
                                                                <span class="separator-left bg-primary"></span>
                                                                <span class="separator-right bg-primary"></span>
                                                            </div>
                                                        </div>
                                                        <!--border-->							<p class="text-center paddb30 col-md-10 col-md-offset-1" contenteditable="true">Along with our primary referral service, we also provide the community with a number additional resources.</p>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-4 col-md-4 animate_line idesignabout">
                                                        <div class="thumbnail text-center bg-white">
                                                            <div class="icon-lg m-b20">
                                                                <i class="fa fa-life-ring"></i>
                                                            </div>
                                                            <div class="caption" contenteditable="true">
                                                                <h3>HOME IMPROVEMENT CONSULTATION </h3>
                                                                <p class="text-center pb-color">A consultation entails an Initial free phone consultation from a Planner and/or Architect for your home remodel or construction project. </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-4 col-md-4 animate_line idesignabout">
                                                        <div class="thumbnail text-center bg-white">
                                                            <div class="icon-lg m-b20">
                                                                <i class="fa fa-trophy"></i>
                                                            </div>
                                                            <div class="caption" contenteditable="true">
                                                                <h3> HELP DESK </h3>
                                                                <p class="text-center pb-color">The Help Desk is a resource referral service for members in need of social services. A member only needs to call in and ask for the help desk to get assistance.  </p>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-4 col-md-4 animate_line idesignabout">
                                                        <div class="thumbnail text-center bg-white">
                                                            <div class="icon-lg m-b20">
                                                                <i class="fa fa-thumbs-up"></i>
                                                            </div>
                                                            <div class="caption" contenteditable="true">
                                                                <h3> SENIOR CARE </h3>
                                                                <p class="text-center pb-color">Senior Care is our specialized referral service for resources pertaining to the services and care of Senior Citizens.</p>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </section>

                                    }
                                </div>
                                <div id="section4">
                                    @if (Model != null && Model.Section4 != null)
                                    {
                                        @Html.Raw(Model.Section4)
                                    }
                                    else
                                    {

                                        <section>
                                            <div class="container">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="wprt-spacer" data-desktop="80" data-mobi="60" data-smobi="60" style="height:80px"></div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <h3 class="text-center bold" contenteditable="true"> LATEST BLOG POST </h3>
                                                        <div class="wt-separator-outer">
                                                            <div class="wt-separator style-square">
                                                                <span class="separator-left bg-primary"></span>
                                                                <span class="separator-right bg-primary"></span>
                                                            </div>
                                                        </div>
                                                        <!--border-->
                                                        <p class="text-center paddb30 pb-color" contenteditable="true"> Urban Referral Network (URN) was created to protect and economically grow the Urban Consumer, provide education, community awareness and facilitate the availability of quality goods and services to the community. </p>
                                                    </div>
                                                    <div class="col-md-4 col-sm-4 border-calendar">
                                                        <div class="thumbnail">
                                                            <div class="overlay-div">
                                                                <img src="~/images/pexels-photo-534151.jpg" alt="blog">

                                                                <a href="~/HTML/Blog_1" class="overlay-image" contenteditable="true">
                                                                    <div class="text-overlay" contenteditable="true">READ MORE</div>
                                                                </a>
                                                            </div>
                                                            <div class="caption wt-post-info ">
                                                                <div class="wt-post-title "><h5 class="post-title" contenteditable="true"><a href="javascript:void(0);"> HOME IMPROVEMENT</a></h5></div>
                                                                <div class="wt-post-meta ">
                                                                    <ul contenteditable="true">
                                                                        <li class="post-date"> <i class="fa fa-calendar"></i><strong>20 Dec</strong> <span> 2017</span> </li>
                                                                        <li class="post-author"><i class="fa fa-user"></i><a href="javascript:void(0);">By <span>John</span></a> </li>
                                                                        <li class="post-comment"><i class="fa fa-comments"></i> <a href="javascript:void(0);">0 Comments</a> </li>
                                                                    </ul>
                                                                </div>
                                                                <p class="text-justify pb-color" contenteditable="true"><i>How long will Appliances Last</i></p><br>

                                                                <p class="text-justify pb-color" contenteditable="true">Home appliances and other home components are made to last, but not forever. Many times appliances last for 10 years or so while other parts of your home will need more frequent maintenance.</p>

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4 col-sm-4">
                                                        <div class="thumbnail border-calendar">
                                                            <div class="overlay-div">
                                                                <img src="~/images/renovat.jpg" alt="blog">
                                                                <a href="~/HTML/Blog_2" class="overlay-image" contenteditable="true">
                                                                    <div class="text-overlay" contenteditable="true">READ MORE SA</div>
                                                                </a>
                                                            </div>
                                                            <div class="caption wt-post-info ">
                                                                <div class="wt-post-title "><h5 class="post-title" contenteditable="true"><a href="javascript:void(0);">RENOVATION </a></h5></div>
                                                                <div class="wt-post-meta ">
                                                                    <ul contenteditable="true">
                                                                        <li class="post-date"> <i class="fa fa-calendar"></i><strong>20 Dec</strong> <span> 2017</span> </li>
                                                                        <li class="post-author"><i class="fa fa-user"></i><a href="javascript:void(0);">By <span>John</span></a> </li>
                                                                        <li class="post-comment"><i class="fa fa-comments"></i> <a href="javascript:void(0);">0 Comments</a> </li>
                                                                    </ul>
                                                                </div>
                                                                <p class="text-justify pb-color" contenteditable="true"><i>Basic Principles for Remodeling Your Home for Aging Seniors</i></p><br>
                                                                <p class="text-justify pb-color" contenteditable="true">Remodeling for aging in place means making updates to your home that improve safety and convenience for older adults. </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4 col-sm-4">
                                                        <div class="thumbnail border-calendar">
                                                            <div class="overlay-div">
                                                                <img src="~/images/pexels-photo-935756.jpeg" alt="blog">
                                                                <a href="~/HTML/Blog_3" class="overlay-image" contenteditable="true">
                                                                    <div class="text-overlay" contenteditable="true">READ MORE</div>
                                                                </a>
                                                            </div>
                                                            <div class="caption wt-post-info ">
                                                                <div class="wt-post-title "><h5 class="post-title" contenteditable="true"><a href="javascript:void(0);"> HOME VALUE  </a></h5></div>
                                                                <div class="wt-post-meta ">
                                                                    <ul contenteditable="true">
                                                                        <li class="post-date"> <i class="fa fa-calendar"></i><strong>20 Dec</strong> <span> 2017</span> </li>
                                                                        <li class="post-author"><i class="fa fa-user"></i><a href="javascript:void(0);">By <span>John</span></a> </li>
                                                                        <li class="post-comment"><i class="fa fa-comments"></i> <a href="javascript:void(0);">0 Comments</a> </li>
                                                                    </ul>
                                                                </div>
                                                                <p class="text-justify pb-color" contenteditable="true"><i>Roof Maintenance</i></p><br>
                                                                <p class="text-justify pb-color" contenteditable="true">It’s a major expense to install a new roof.  The costs of installing a new roof can be a major expense for any home. The cost can be upwards amount of $12,000. Here are a few tips to help keep the cost of roofing down.</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </section>

                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--contact section 5-->
            <div id="section5">
                @if (Model != null && Model.Section5 != null)
                {
                    @Html.Raw(Model.Section5)
                }
                else
                {

                    <div class="section-5">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-lg-3 p-tb20 ">
                                    <div class="wt-icon-box-wraper left  bdr-1 bdr-gray-dark p-lr10 clearfix ">
                                        <div class="icon-md text-primary">
                                            <img src="~/images/map.png" class="img-responsive" alt="mobile">
                                        </div>
                                        <div class="icon-content">
                                            <h6 class="fontf text-uppercase m-b0" contenteditable="true"><b> ADDRESS </b></h6>
                                            <p class="m-b0" contenteditable="true">
                                                5349 Crenshaw Boulevard, Suite 101
                                                Los Angeles, CA  90043
                                            </p>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-lg-3 p-tb20 ">
                                    <div class="wt-icon-box-wraper left  bdr-1 bdr-gray-dark p-lr10 clearfix ">
                                        <div class="icon-md text-primary">
                                            <img src="~/images/mobile.png" class="img-responsive" alt="mobile">
                                        </div>
                                        <div class="icon-content" contenteditable="true">
                                            <h6 class="fontf text-uppercase m-b0"><b> Phone </b></h6>
                                            <p class="m-b0">+1(323)290-4089</p>
                                            <p class="m-b0">+1(323)290-4089</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6 col-sm-6 col-lg-3 p-tb20 ">
                                    <div class="wt-icon-box-wraper left  bdr-1 bdr-gray-dark p-lr10 clearfix ">
                                        <div class="icon-md text-primary">
                                            <img src="~/images/printer.png" alt="printer" class="img-responsive">
                                        </div>
                                        <div class="icon-content" contenteditable="true">
                                            <h6 class="fontf text-uppercase m-b0"><b> FAX </b></h6>
                                            <p class="m-b0">FAX : (123)123-4567 </p>
                                            <p class="m-b0">FAX : (123)123-4567 </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-lg-3 p-tb20 ">
                                    <div class="wt-icon-box-wraper left  bdr-1 bdr-gray-dark p-lr10 clearfix ">
                                        <div class="icon-md text-primary">
                                            <img src="~/images/email.png" class="img-responsive" alt="email">
                                        </div>
                                        <div class="icon-content" contenteditable="true">
                                            <h6 class="fontf text-uppercase m-b0"><b>Email </b></h6>
                                            <p class="m-b0">info@demo.com</p>
                                            <p class="m-b0">info@demo1234.com</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div style="width:100%; height:1px; background-color:#fff;"></div>

                }
            </div>
            <!--footer section-6-->
            <div id="section6">
                @if (Model != null && Model.FooterSection1 != null)
                {
                    @Html.Raw(Model.FooterSection1)
                }
                else
                {
                    <footer id="footer">
                        <div id="footer-widgets" class="container style-1">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="widget widget_text">
                                        <h2 class="widget-title" contenteditable="true"><span>ABOUT US</span></h2>
                                        <div class="textwidget">
                                            <img src="~/images/urban-logo-Copy.jpg" width="100" height="" alt="image" class="margin-top-5 margin-bottom-5">
                                            <p contenteditable="true">
                                                The<span style="color:#ff9800;"> URBANetwork </span> founded in 1988 by a
                                                coalition of block clubs and community
                                                organizations to improve the quality of life
                                                in urban communities, created the Urban
                                                Referral Network in 2016 as a means to
                                                improve the quality of services and goods
                                                provided to urban consumers.
                                            </p>
                                            <div class="widget widget_links">

                                                <ul class="wprt-links clearfix col2" contenteditable="true">
                                                    <li class="style-2"><a href="~/HTML/Terms" style="padding-right:15px;"> Terms & Condtions </a><a href="~/HTML/Privacy"> Privacy Policy </a></li>
                                                </ul>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="widget widget_links">
                                        <h2 class="widget-title" contenteditable="true"><span>COMPANY LINKS</span></h2>
                                        <ul class="wprt-links clearfix col2" contenteditable="true">
                                            <li class="style-2"><a href="~/HTML/about_us"> Phone Consultation </a></li>
                                            <li class="style-2"><a href="~/HTML/about_us"> Help Desk </a></li>
                                            <li class="style-2"><a href="~/HTML/about_us"> Senior Care </a></li>
                                        </ul>

                                        <form class="form-group input-group" style="margin-top: 20px;">
                                            <input type="text" class="form-control">
                                            <div class="input-group-btn">
                                                <button class="btn" type="submit">Subscribe</button>
                                            </div>
                                        </form>

                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="widget widget_information">
                                        <h2 class="widget-title" contenteditable="true"><span>CONTACT INFO</span></h2>
                                        <ul class="style-2" contenteditable="true">
                                            <li class="address clearfix">
                                                <span class="hl">Address:</span>
                                                <span class="text">
                                                    5349 Crenshaw Boulevard, Suite 101,
                                                    Los Angeles, CA  90043
                                                </span>
                                            </li>
                                            <li class="phone clearfix">
                                                <span class="hl">Phone:</span>
                                                <span class="text">+1 (323) 290-4089</span>
                                            </li>
                                            <li class="email clearfix">
                                                <span class="hl">E-mail:</span>
                                                <span class="text">contact@construction.com</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="widget widget_spacer">
                                        <div class="wprt-spacer clearfix" data-desktop="10" data-mobi="10" data-smobi="10" style="height:10px"></div>
                                    </div>
                                    <div class="widget widget_socials">
                                        <div class="socials">
                                            <a target="_blank" href="#"><i class="fa fa-twitter"></i></a>
                                            <a target="_blank" href="#"><i class="fa fa-facebook"></i></a>
                                            <a target="_blank" href="#"><i class="fa fa-google-plus"></i></a>
                                            <a target="_blank" href="#"><i class="fa fa-instagram"></i></a>
                                            <a target="_blank" href="#"><i class="fa fa-linkedin"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </footer>
                }
            </div>
            <!-- Bottom -->
            <div id="section7">
                @if (Model != null && Model.FooterSection2 != null)
                {
                    @Html.Raw(Model.FooterSection2)
                }
                else
                {
                    <div id="bottom" class="clearfix style-1">
                        <div id="bottom-bar-inner" class="wprt-container">
                            <div class="bottom-bar-inner-wrap">

                                <div class="bottom-bar-content" contenteditable="true">
                                    Copyright &copy; 2018 URBAN Network.
                                    <!-- /#copyright -->
                                </div><!-- /.bottom-bar-content -->
                                <div class="bottom-bar-menu" contenteditable="true">
                                    Powered by YES IT Labs
                                </div><!-- /.bottom-bar-menu -->
                            </div>
                        </div>
                    </div>
                }
            </div>
            <!-- End copyright -->
        </div>
    </div><!-- /#wrapper -->
    <a id="scroll-top"></a>
    <!-- Javascript -->
    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/animsition.js"></script>
    <script src="~/assets/js/plugins.js"></script>
    <script src="~/assets/js/countTo.js"></script>
    <script src="~/assets/js/flexslider.js"></script>
    <script src="~/assets/js/cube.portfolio.js"></script>
    <script src="~/assets/js/main.js"></script>

    <script>
        $(document).ready(function () {
            $('div[contenteditable="true"]').attr('contenteditable', false);
            $('p[contenteditable="true"]').attr('contenteditable', false);
            $('h1[contenteditable="true"]').attr('contenteditable', false);
            $('h2[contenteditable="true"]').attr('contenteditable', false);
            $('h3[contenteditable="true"]').attr('contenteditable', false);
            $('ul[contenteditable="true"]').attr('contenteditable', false);
            $('li[contenteditable="true"]').attr('contenteditable', false);//blockquote           
            $('h4[contenteditable="true"]').attr('contenteditable', false);
            $('a[contenteditable="true"]').attr('contenteditable', false);
            $('blockquote[contenteditable="true"]').attr('contenteditable', false);
        });

    </script>
</body>
</html>

