@model HomePageContent
@{
    ViewBag.Title = "Blog";
    Layout = null;
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US">
<head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8">

    <title> Urban Network </title>
    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- Theme ~/style -->
    <link rel="stylesheet" type="text/css" href="~/style.css">
    <!-- Favicon and touch icons  -->
    <link rel="shortcut icon" href="~/assets/icon/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="~/assets/icon/apple-touch-icon-158-precomposed.png">
    <!--navigation bar link-->
    <style>
        #blog_2 span {
            font-size: 17px;
            font-weight: bold;
            padding-right: 7px;
        }
    </style>
</head>

<body class="header-style-1 menu-has-search menu-has-cart">
    <!--navbar-->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-2">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="" href="#"><img src="~/images/logo.png" class="img-responsive" alt="logo" /></a>
                    </div>

                </div>
                <div class="col-sm-10">
                    <div class="collapse navbar-collapse" id="myNavbar">

                        <div class="row">
                            <div class="col-sm-12">
                                <ul class="nav navbar-nav navbar-right social-icon">
                                    <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                                    <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                                    <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
                                    <li><a href="#"><span class="fa fa-rss"></span></a></li>
                                    <li><a href="#"><span class="fa fa-youtube"></span></a></li>
                                    <li><a href="#"><span class="fa fa-instagram"></span></a></li>


                                </ul>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <ul class="nav navbar-nav navbar-right menu-margin">
                                    <li><a href="~/HTML/index">HOME</a></li>
                                    <li><a href="~/HTML/our_services">SERVICES</a></li>
                                    <li><a href="~/HTML/about_us">ABOUT US</a></li>
                                    <li><a href="~/HTML/how_it_work">HOW IT WORKS</a></li>
                                    <li><a href="~/HTML/blog">BLOG</a></li>
                                    <li><a href="~/HTML/FAQ">FAQ</a></li>
                                    <li><a href="~/HTML/Testimonials">TESTIMONIALS</a></li>
                                    <li><a href="~/HTML/contact_us" style="border:0;padding-right:0;">CONTACT US</a></li>
                                    <li><button class="btn" onclick="location.href='@Url.Action("Login","Account",  new { target="_blank" })'"><span class="fa fa-user-circle-o">&nbsp;&nbsp; </span>LOGIN / REGISTER</button></li>

                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <div id="wrapper" class="animsition">
        <div id="page" class="clearfix">
            <!--about banner section-1-->
            <div id="section1">
                @if (Model != null && Model.Section1 != null)
                {
                    @Html.Raw(Model.Section1)
                }
                else
                {
                    <div class="text-center banner-back smallbanner">
                        <h1 class="bold" contenteditable="true"> BLOG </h1>
                    </div>
                }
            </div>
            <!-- Main Content -->
            <div id="main-content" class="site-main clearfix">
                <div id="content-wrap" class="container">
                    <div class="row">
                        <div class="col-sm-8">
                            <div id="site-content" class="site-content clearfix" style="width:100%;">
                                <div id="inner-content" class="inner-content-wrap">

                                    <article class="hentry mart0">
                                        <div class="post-media clearfix">
                                            <a href="#"><img src="~/images/renovatin.jpg" alt="image"></a>
                                        </div><!-- /.post-media -->

                                        <div id="section2">
                                            @if (Model != null && Model.Section2 != null)
                                            {
                                                @Html.Raw(Model.Section2)
                                            }
                                            else
                                            {

                                                <div class="post-content-wrap">
                                                    <h2 class="post-title" contenteditable="true">
                                                        <span class="post-title-inner">
                                                            <a href="#">RENOVATION</a>
                                                        </span>
                                                    </h2><!-- /.post-title -->

                                                    <div class="post-meta ~/style-2">
                                                        <div class="post-meta-content">
                                                            <div class="post-meta-content-inner" contenteditable="true">
                                                                <span class="post-date item">
                                                                    <span class="inner"><span class="entry-date">December 30, 2016</span></span>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div><!-- /.post-meta -->

                                                    <div class="post-content post-excerpt" contenteditable="true">
                                                        <p><i>Basic Principles for Remodeling Your Home for Aging Seniors</i></p>
                                                        <p>
                                                            Remodeling for aging in place means making updates to your home that improve safety and convenience for older adults. Making your home easier to use removes frustration and many of the hazards that come from living independently. These are some of the most important principles that aging-in-place remodeling addresses.
                                                        </p>
                                                    </div><!-- /.post-excerpt -->
                                                    <!--details blog content-->

                                                    <div id="blog_2" contenteditable="true">

                                                        <p>
                                                            <span> Falling hazards : </span>Update flooring and doors removes slipping and falling danger.
                                                        </p>
                                                        <p>
                                                            <span> Wheelchair accessibility : </span>Provides easier access for seniors to reach all areas of their home.
                                                        </p>
                                                        <p>
                                                            <span>Dexterity improvement : </span>As muscle tone weakens and gripping becomes harder, making necessary changes like lever handles can make it easier for seniors to open doors and cabinets.
                                                        </p>
                                                        <p>
                                                            <span> Visibility improvement : </span>Improving lighting in the home can help seniors see better and move around safely.
                                                        </p>
                                                        <p>
                                                            <span> Minimal maintenance : </span>Updates that reduce the need to clean and maintain a home are a good idea for seniors.
                                                        </p>
                                                        <p>
                                                            <span> Bathroom modification : </span>Bathroom modifications can make bathing safer and more pleasant.
                                                        </p>
                                                        <p>
                                                            <span> Emergency medical response systems : </span>installing smart home security systems offers medical response features and better accessibility.
                                                        </p>
                                                        <p>
                                                            <span> Single-floor living : </span>Adding a master bedroom with bathroom on a lower level of the home can assist seniors who cannot conquer stairs any longer.
                                                        </p>
                                                    </div><!--end of blog content-->

                                                    <div class="post-read-more">


                                                        <div class="post-share post-link-share">
                                                            <div class="post-meta-share-text" contenteditable="true">Share:</div>
                                                            <div class="post-meta-share-icon">
                                                                <a href="#"><i class="fa fa-twitter"></i></a>
                                                                <a href="#"><i class="fa fa-facebook"></i></a>
                                                                <a href="#"><i class="fa fa-google-plus"></i></a>
                                                            </div>
                                                        </div><!-- /.post-share -->
                                                    </div><!-- /.post-read-more -->
                                                </div><!-- /.post-content-wrap -->
                                            }
                                        </div>

                                    </article>


                                    <div id="section3">
                                        @if (Model != null && Model.Section3 != null)
                                        {
                                            @Html.Raw(Model.Section3)
                                        }
                                        else
                                        {
                                            <div id="respond" class="comment-respond">
                                                <h3 id="reply-title" class="comment-reply-title" contenteditable="true">Leave a Reply</h3>
                                                <form action="#" method="post" id="commentform" class="comment-form">
                                                    <fieldset class="message-wrap">
                                                        <textarea id="comment-message" name="comment" rows="8" tabindex="4" placeholder="Message"></textarea>
                                                    </fieldset>
                                                    <fieldset class="name-wrap">
                                                        <input type="text" id="author" class="tb-my-input" name="author" tabindex="1" placeholder="Name" value="" size="32" aria-required="true">
                                                    </fieldset>
                                                    <fieldset class="email-wrap">
                                                        <input type="text" id="email" class="tb-my-input" name="email" tabindex="2" placeholder="E-mail" value="" size="32" aria-required="true">
                                                    </fieldset>
                                                    <p class="form-submit" contenteditable="true">
                                                        <input name="submit" type="submit" id="comment-reply" class="submit" value="Post Comment">
                                                        <input type="hidden" name="comment_post_ID" value="100" id="comment_post_ID">
                                                        <input type="hidden" name="comment_parent" id="comment_parent" value="0">
                                                    </p>
                                                </form>
                                            </div><!-- #respond -->
                                        }
                                    </div><!-- #respond -->

                                </div><!-- /.inner-content-wrap -->
                            </div><!-- /#site-content -->
                        </div><!-- /col-md-8 -->
                        <div class="col-sm-4">
                            <div id="sidebar" style="width:100%;">
                                <div id="inner-sidebar" class="inner-content-wrap">
                                    <div class="widget widget_search">
                                        <form role="search" method="get" action="#" class="search-form ~/style-1">
                                            <input type="search" class="search-field" placeholder="Search" value="" name="s" title="Search for:">
                                            <button type="submit" class="search-submit" title="Search">Search</button>
                                        </form>
                                    </div>

                                    <div id="section4">
                                        @if (Model != null && Model.Section4 != null)
                                        {
                                            @Html.Raw(Model.Section4)
                                        }
                                        else
                                        {
                                            <div class="widget widget_categories" contenteditable="true">
                                                <h2 class="widget-title"><span>CATEGORIES</span></h2>
                                                <ul>
                                                    <li class="cat-item cat-item-3"><a href="#">Building</a> (2)</li>
                                                    <li class="cat-item cat-item-6"><a href="#">Ecobuilding</a> (4)</li>
                                                    <li class="cat-item cat-item-4"><a href="#">House</a> (4)</li>
                                                    <li class="cat-item cat-item-5"><a href="#">Office</a> (1)</li>
                                                    <li class="cat-item cat-item-10"><a href="#">Tower</a> (3)</li>
                                                </ul>
                                            </div>

                                            <div id="widget_news_post-3" class="widget widget_recent_news">
                                                <h2 class="widget-title" contenteditable="true"><span>LASTEST NEWS</span></h2>
                                                <ul class="recent-news clearfix">
                                                    <li class="clearfix">
                                                        <div class="thumb">
                                                            <img width="150" height="150" src="~/images/news.jpg" alt="image">
                                                        </div><!-- /.thumb -->

                                                        <div class="texts" contenteditable="true">
                                                            <h3><a href="#">Best Treehouse Plans</a></h3>
                                                            <span class="post-date"><span class="entry-date">December 30, 2016</span></span>
                                                        </div><!-- /.texts -->
                                                    </li>

                                                    <li class="clearfix">
                                                        <div class="thumb">
                                                            <img width="150" height="150" src="~/images/news.jpg" alt="image">
                                                        </div><!-- /.thumb -->

                                                        <div class="texts" contenteditable="true">
                                                            <h3><a href="#">The Future of Buildings</a></h3>
                                                            <span class="post-date"><span class="entry-date">December 30, 2016</span></span>
                                                        </div><!-- /.texts -->
                                                    </li>

                                                    <li class="clearfix">
                                                        <div class="thumb">
                                                            <img width="150" height="150" src="~/images/news.jpg" alt="image">
                                                        </div><!-- /.thumb -->

                                                        <div class="texts" contenteditable="true">
                                                            <h3><a href="#">Best Treehouse Plans</a></h3>
                                                            <span class="post-date"><span class="entry-date">December 30, 2016</span></span>
                                                        </div><!-- /.texts -->
                                                    </li>

                                                    <li class="clearfix">
                                                        <div class="thumb">
                                                            <img width="150" height="150" src="~/images/news.jpg" alt="image">
                                                        </div><!-- /.thumb -->

                                                        <div class="texts" contenteditable="true">
                                                            <h3><a href="#">Best Treehouse Plans</a></h3>
                                                            <span class="post-date"><span class="entry-date">December 30, 2016</span></span>
                                                        </div><!-- /.texts -->
                                                    </li>

                                                    <li class="clearfix">
                                                        <div class="thumb">
                                                            <img width="150" height="150" src="~/images/news.jpg" alt="image">
                                                        </div><!-- /.thumb -->

                                                        <div class="texts" contenteditable="true">
                                                            <h3><a href="#">Best Treehouse Plans</a></h3>
                                                            <span class="post-date"><span class="entry-date">December 30, 2016</span></span>
                                                        </div><!-- /.texts -->
                                                    </li>

                                                    <li class="clearfix">
                                                        <div class="thumb">
                                                            <img width="150" height="150" src="~/images/news.jpg" alt="image">
                                                        </div><!-- /.thumb -->

                                                        <div class="texts" contenteditable="true">
                                                            <h3><a href="#">Best Treehouse Plans</a></h3>
                                                            <span class="post-date"><span class="entry-date">December 30, 2016</span></span>
                                                        </div><!-- /.texts -->
                                                    </li>

                                                    <li class="clearfix">
                                                        <div class="thumb">
                                                            <img width="150" height="150" src="~/images/news.jpg" alt="image">
                                                        </div><!-- /.thumb -->

                                                        <div class="texts" contenteditable="true">
                                                            <h3><a href="#">Best Treehouse Plans</a></h3>
                                                            <span class="post-date"><span class="entry-date">December 30, 2016</span></span>
                                                        </div><!-- /.texts -->
                                                    </li>

                                                    <li class="clearfix">
                                                        <div class="thumb">
                                                            <img width="150" height="150" src="~/images/news.jpg" alt="image">
                                                        </div><!-- /.thumb -->

                                                        <div class="texts" contenteditable="true">
                                                            <h3><a href="#">Best Treehouse Plans</a></h3>
                                                            <span class="post-date"><span class="entry-date">December 30, 2016</span></span>
                                                        </div><!-- /.texts -->
                                                    </li>

                                                    <li class="clearfix">
                                                        <div class="thumb">
                                                            <img width="150" height="150" src="~/images/news.jpg" alt="image">
                                                        </div><!-- /.thumb -->

                                                        <div class="texts" contenteditable="true">
                                                            <h3><a href="#">Best Treehouse Plans</a></h3>
                                                            <span class="post-date"><span class="entry-date">December 30, 2016</span></span>
                                                        </div><!-- /.texts -->
                                                    </li>

                                                    <li class="clearfix">
                                                        <div class="thumb">
                                                            <img width="150" height="150" src="~/images/news.jpg" alt="image">
                                                        </div><!-- /.thumb -->

                                                        <div class="texts" contenteditable="true">
                                                            <h3><a href="#">Best Treehouse Plans</a></h3>
                                                            <span class="post-date"><span class="entry-date">December 30, 2016</span></span>
                                                        </div><!-- /.texts -->
                                                    </li>
                                                </ul>
                                            </div>
                                        }
                                    </div>
                                </div><!-- /#inner-sidebar -->
                            </div><!-- /#sidebar -->
                        </div>
                    </div><!--row-->
                </div><!-- /#content-wrap -->
            </div><!-- /#main-content -->
            <!--footer section-6-->
            <div id="section5">
                @if (Model != null && Model.FooterSection1 != null)
                {
                    @Html.Raw(Model.FooterSection1)
                }
                else
                {
                    <footer id="footer">
                        <div id="footer-widgets" class="container style-1">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="widget widget_text">
                                        <h2 class="widget-title" contenteditable="true"><span>ABOUT US</span></h2>
                                        <div class="textwidget">
                                            <img src="~/images/urban-logo-Copy.jpg" width="100" height="" alt="image" class="margin-top-5 margin-bottom-5">
                                            <p contenteditable="true">
                                                The<span style="color:#ff9800;"> URBANetwork </span> founded in 1988 by a
                                                coalition of block clubs and community
                                                organizations to improve the quality of life
                                                in urban communities, created the Urban
                                                Referral Network in 2016 as a means to
                                                improve the quality of services and goods
                                                provided to urban consumers.
                                            </p>
                                            <div class="widget widget_links">

                                                <ul class="wprt-links clearfix col2" contenteditable="true">
                                                    <li class="style-2"><a href="~/HTML/Terms" style="padding-right:15px;"> Terms & Condtions </a><a href="~/HTML/Privacy"> Privacy Policy </a></li>
                                                </ul>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="widget widget_links">
                                        <h2 class="widget-title" contenteditable="true"><span>COMPANY LINKS</span></h2>
                                        <ul class="wprt-links clearfix col2" contenteditable="true">
                                            <li class="style-2"><a href="~/HTML/about_us"> Phone Consultation </a></li>
                                            <li class="style-2"><a href="~/HTML/about_us"> Help Desk </a></li>
                                            <li class="style-2"><a href="~/HTML/about_us"> Senior Care </a></li>
                                        </ul>

                                        <form class="form-group input-group" style="margin-top: 20px;">
                                            <input type="text" class="form-control">
                                            <div class="input-group-btn">
                                                <button class="btn" type="submit">Subscribe</button>
                                            </div>
                                        </form>

                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="widget widget_information">
                                        <h2 class="widget-title" contenteditable="true"><span>CONTACT INFO</span></h2>
                                        <ul class="style-2" contenteditable="true">
                                            <li class="address clearfix">
                                                <span class="hl">Address:</span>
                                                <span class="text">
                                                    5349 Crenshaw Boulevard, Suite 101
                                                    Los Angeles, CA  90043
                                                </span>
                                            </li>
                                            <li class="phone clearfix">
                                                <span class="hl">Phone:</span>
                                                <span class="text">+1 (323) 290-4089</span>
                                            </li>
                                            <li class="email clearfix">
                                                <span class="hl">E-mail:</span>
                                                <span class="text">contact@construction.com</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="widget widget_spacer">
                                        <div class="wprt-spacer clearfix" data-desktop="10" data-mobi="10" data-smobi="10" style="height:10px"></div>
                                    </div>
                                    <div class="widget widget_socials">
                                        <div class="socials">
                                            <a target="_blank" href="#"><i class="fa fa-twitter"></i></a>
                                            <a target="_blank" href="#"><i class="fa fa-facebook"></i></a>
                                            <a target="_blank" href="#"><i class="fa fa-google-plus"></i></a>
                                            <a target="_blank" href="#"><i class="fa fa-instagram"></i></a>
                                            <a target="_blank" href="#"><i class="fa fa-linkedin"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </footer>
                }
            </div>
            <!-- Bottom -->
            <div id="section6">
                @if (Model != null && Model.FooterSection2 != null)
                {
                    @Html.Raw(Model.FooterSection2)
                }
                else
                {
                    <div id="bottom" class="clearfix style-1">
                        <div id="bottom-bar-inner" class="wprt-container">
                            <div class="bottom-bar-inner-wrap">

                                <div class="bottom-bar-content" contenteditable="true">
                                    Copyright &copy; 2018 URBAN Network.
                                    <!-- /#copyright -->
                                </div><!-- /.bottom-bar-content -->
                                <div class="bottom-bar-menu" contenteditable="true">
                                    Powered by YES IT Labs
                                </div><!-- /.bottom-bar-menu -->
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div><!-- /#page -->
    </div><!-- /#wrapper -->

    <a id="scroll-top"></a>
    <!-- BackToTop Button -->
    <!-- Javascript -->
    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/animsition.js"></script>
    <script src="~/assets/js/plugins.js"></script>
    <script src="~/assets/js/countTo.js"></script>
    <script src="~/assets/js/fitText.js"></script>
    <script src="~/assets/js/flexslider.js"></script>
    <script src="~/assets/js/vegas.js"></script>
    <script src="~/assets/js/cube.portfolio.js"></script>
    <script src="~/assets/js/main.js"></script>

    <script>
        $(document).ready(function () {
            $('div[contenteditable="true"]').attr('contenteditable', false);
            $('p[contenteditable="true"]').attr('contenteditable', false);
            $('h1[contenteditable="true"]').attr('contenteditable', false);
            $('h2[contenteditable="true"]').attr('contenteditable', false);
            $('h3[contenteditable="true"]').attr('contenteditable', false);
            $('ul[contenteditable="true"]').attr('contenteditable', false);
            $('li[contenteditable="true"]').attr('contenteditable', false);//blockquote

            $('h4[contenteditable="true"]').attr('contenteditable', false);
            $('a[contenteditable="true"]').attr('contenteditable', false);
        });

    </script>
</body>
</html>
