@model HomePageContent
@{
    ViewBag.Title = "review";
    Layout = null;
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US">
<head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8">

    <title> Urban Network </title>
    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- Theme ~/style -->
    <link rel="stylesheet" type="text/css" href="~/style.css">
    <!-- Favicon and touch icons  -->
    <link rel="shortcut icon" href="~/assets/icon/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="~/assets/icon/apple-touch-icon-158-precomposed.png">
    <!--navigation bar link-->
    <style>
    </style>
</head>

<body class="front-page no-sidebar site-layout-full-width header-style-5 menu-has-search menu-has-cart header-sticky">


    <!--navbar-->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-2">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="" href="#"><img src="~/images/urban-logo-Copy.jpg" class="img-responsive" alt="logo" /></a>
                    </div>

                </div>
                <div class="col-sm-10">
                    <div class="collapse navbar-collapse" id="myNavbar">

                        <div class="row">
                            <div class="col-sm-12">
                                <ul class="nav navbar-nav navbar-right social-icon">
                                    <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                                    <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                                    <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
                                    <li><a href="#"><span class="fa fa-rss"></span></a></li>
                                    <li><a href="#"><span class="fa fa-youtube"></span></a></li>
                                    <li><a href="#"><span class="fa fa-instagram"></span></a></li>


                                </ul>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <ul class="nav navbar-nav navbar-right menu-margin">
                                    <li><a href="~/HTML/index">HOME</a></li>
                                    <li><a href="~/HTML/our_services">SERVICES</a></li>
                                    <li><a href="~/HTML/about_us">ABOUT US</a></li>
                                    <li><a href="~/HTML/how_it_work">HOW IT WORKS</a></li>
                                    <li><a href="~/HTML/blog">BLOG</a></li>
                                    <li><a href="~/HTML/FAQ">FAQ</a></li>
                                    <li><a href="~/HTML/Testimonials">TESTIMONIALS</a></li>
                                    <li><a href="~/HTML/contact_us" style="border:0;padding-right:0;">CONTACT US</a></li>
                                    <li><button class="btn" onclick="location.href='@Url.Action("Login","Account",  new { target="_blank" })'"><span class="fa fa-user-circle-o">&nbsp;&nbsp; </span>LOGIN / REGISTER</button></li>

                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <div id="wrapper" class="animsition">
        <div id="page" class="clearfix">

            <!--about banner section-1-->
            <div id="section1">
                @if (Model != null && Model.Section1 != null)
                {
                    @Html.Raw(Model.Section1)
                }
                else
                {
                    <div class="text-center banner-back smallbanner">
                        <h1 class="bold" contenteditable="true"> TESTIMONIALS  </h1>
                    </div>
                }
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="wprt-spacer" data-desktop="70" data-mobi="60" data-smobi="60" ~/style="height:70px">
                    </div>
                </div>
                <div class="col-md-12">
                    <div id="inner-content" class="inner-content-wrap">
                        <div class="post-content-single-wrap">
                            <div id="section2">
                                @if (Model != null && Model.Section2 != null)
                                {
                                    @Html.Raw(Model.Section2)
                                }
                                else
                                {
                                    <article>
                                        <h2 class="post-title">
                                            <span class="post-title-inner">
                                                <a href="#" contenteditable="true"> Lorem ipsum dolor sit amet.</a>
                                            </span>
                                        </h2><!-- /.post-title -->
                                        <div class="post-content" contenteditable="true">
                                            <p><i class="fa fa-circle"></i> <span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</span></p>
                                            <p><i class="fa fa-circle"></i> <span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </span></p>
                                            <p><i class="fa fa-circle"></i> <span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</span></p>
                                            <p><i class="fa fa-circle"></i> <span>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </span></p>
                                        </div><!-- /.post-excerpt -->
                                    </article>
                                }
                            </div>
                        </div><!-- /.post-content-single-wrap -->
                    </div><!-- /.inner-content-wrap -->
                </div>
                <div class="col-md-12">
                    <div class="wprt-spacer" data-desktop="70" data-mobi="60" data-smobi="60" ~/style="height:70px">
                </div>
            </div>
        </div>
    </div>
    <!-- Main Content -->
    <div id="main-content" class="site-main clearfix">
        <div id="content-wrap">
            <div id="site-content" class="site-content clearfix">
                <div id="inner-content" class="inner-content-wrap">
                    <div class="page-content">

                        <!-- TESTIMONIALS -->
                        <section class="wprt-section testiminials" ~/style="background-color:#ff9700;">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="wprt-spacer" data-desktop="70" data-mobi="60" data-smobi="60"></div>
                                </div><!-- /.col-md-12 -->
                                <div class="col-md-12">
                                    <div id="section7">
                                        @if (Model != null && Model.Section5 != null)
                                        {
                                            @Html.Raw(Model.Section5)
                                        }
                                        else
                                        {
                                            <h2 contenteditable="true">TESTIMONIALS</h2>
                                        }
                                    </div>
                                    <div class="wprt-lines ~/style-1 custom-3">
                                        <div class="line-1"></div>
                                        <div class="line-2"></div>
                                    </div>
                                    <div class="wprt-spacer" data-desktop="50" data-mobi="40" data-smobi="40"></div>
                                    <div id="section3" style="display:none">
                                        @if (Model != null && Model.Section3 != null)
                                        {
                                            @Html.Raw(Model.Section3)
                                        }
                                        else
                                        {
                                            <div>



                                                <label id="lblreview1">TESTIMONIALS</label>
                                                <div class="test" id="review1" contenteditable="true">
                                                    As someone who is extremely time conscious, it drives me crazy every time I have to deal with unreliable workers. The first time I hired from Urban Referral Network, the three hire options provided, gave me quick quotes and the provider I chose came early and worked efficiently. Trust me, the time it took to interview the service providers was worth keeping my sanity and is nothing compared to the losses I could incur dealing with unreliable people.
                                                </div>
                                                <label id="lblreviewby1">TESTIMONIALS by</label>
                                                <div id="divreviewby1" contenteditable="true">Isabelle J.</div>
                                                <label id="lblreview2">TESTIMONIALS</label>
                                                <div class="test" id="review2" contenteditable="true">
                                                    After I moved from my old apartment to the current one, I needed to change the wallpaper (and I’m not so good with DIY). I spoke with my neighbor who happened to have hired off the Urban Referral Network about twice and she referred me to this place. Service delivery was great, communication was superb and my money was well spent.
                                                </div>
                                                <label id="lblreviewby2">TESTIMONIALS by</label>
                                                <div id="divreviewby2" contenteditable="true">T.M.</div>
                                                <label id="lblreview3">TESTIMONIALS</label>  <div class="test" id="review3" contenteditable="true">
                                                    I have dealt with so many dishonest, lazy and incompetent home repair workers who even had the effrontery to tag themselves ‘experts’ and ‘specialists’. After an episode with a plumber who was incompetent and loud mouthed (imagine the combination!), I decided that I had had enough. I spoke to my friend Laura, who introduced me to Urban Referral Networkand it’s been bliss ever since.
                                                </div>
                                                <label id="lblreviewby3">TESTIMONIALS by</label>
                                                <div id="divreviewby3" contenteditable="true">Jen.</div>
                                                <label id="lblreview4">TESTIMONIALS</label>  <div class="test" id="review4" contenteditable="true">
                                                    If you are looking for the best rates and the best hands for your home repairs, Urban Referral Network is what you need! I have had 3 different transactions with artisans from this place and I have never been disappointed. I also got to make my pick amongst 3 competitors for every job (at no extra cost) and the artisans I finally picked were worth my time and money.
                                                </div>
                                                <label id="lblreviewby4">TESTIMONIALS by</label>
                                                <div id="divreviewby4" contenteditable="true">Caroline</div>
                                                <label id="lblreview5">TESTIMONIALS</label>   <div class="test" id="review5" contenteditable="true">
                                                    I am currently trying to remodel my old garage into a mini man cave. Tried working with local renovators in my area but they came ridiculously priced. My co-worker told me about the<span style="color:#92d050;"> Urban Referral Network </span>and I decide to check it out. Found some really great remodelers with significantly reduced charges. I have chosen one to work with and he has some really great ideas. I think this is a great place if you’re looking for reasonably-priced, good quality work!
                                                </div>
                                                <label id="lblreviewby5">TESTIMONIALS by</label>
                                                <div id="divreviewby5" contenteditable="true">Brandon</div>
                                                <label id="lblreview6">TESTIMONIALS</label>  <div class="test" id="review6" contenteditable="true">
                                                    Our house roof suddenly started leaking last Monday and we were severely limited in options for good and affordable repair work. I was playing around online and I came across Urban Referral Network. I decided to give it a shot and the repair guy came in and got it all fixed three days ago. The process was pretty straightforward and fast. I’ll definitely use them again.
                                                </div>
                                                <label id="lblreviewby6">TESTIMONIALS by</label>
                                                <div id="divreviewby6" contenteditable="true">Jon</div>
                                                <label id="lblreview7">TESTIMONIALS</label> <div class="test" id="review7" contenteditable="true">
                                                    I had to help my grandparents find someone to help them repair and cleanup the old fireplace in their home in preparation for last winter. Their go-to person moved out of town and finding someone as good as him (or even decent in the least) proved almost impossible. My friend told me about Urban Referral Network. I was skeptical at first but gave it a shot nonetheless. The repairman was patient with them and extremely courteous. I’m glad I listened to my friend and saved us all some headache.
                                                </div>
                                                <label id="lblreviewby7">TESTIMONIALS by</label>
                                                <div id="divreviewby7" contenteditable="true">Cory Richards</div>
                                                <label id="lblreview8">TESTIMONIALS</label>  <div class="test" id="review8" contenteditable="true">
                                                    I’m a licensed plumber. Before I joined Urban  Referral Network, I could only get few jobs (I had little access to people who needed my services). After signing up my services with Urban Referral Network, there was significant increase in the numbers of jobs I got. Also, because I have all necessary licenses, I get fair pay for my work and my clients also call me back every time they require the kind of service I provide.
                                                </div>
                                                <label id="lblreviewby8">TESTIMONIALS by</label>
                                                <div id="divreviewby8" contenteditable="true">Pete L.</div>
                                                <label id="lblreview9">TESTIMONIALS</label>   <div class="test" id="review9" contenteditable="true">
                                                    I run a hardwood flooring business with my sons, Joe and Matt and it is a fairly big one. We provide hard wood installations, repairs and maintenance downtown LA. Urban Referral Network has given my business a boost. We have gotten a couple of good contracts off here and I can definitely say it works.
                                                </div>
                                                <label id="lblreviewby9">TESTIMONIALS by</label>
                                                <div id="divreviewby9" contenteditable="true">Tom Richards.</div>
                                                <label id="lblreview10">TESTIMONIALS</label>  <div class="test" id="review10" contenteditable="true">
                                                    If you have had enough of annoying service vendors, then, you might want to consider making your next hire here. Trust me, you will be glad you did.
                                                </div>
                                                <label id="lblreviewby10">TESTIMONIALS by</label>
                                                <div id="divreviewby10" contenteditable="true">Mischa</div>
                                            </div>
                                        }
                                    </div>
                                    <div id="section4">
                                        @if (Model != null && Model.Section4 != null)
                                        {
                                            @Html.Raw(Model.Section4)
                                        }
                                        else
                                        {

                                            <div class="wprt-testimonials has-outline arrow-~/style-2 has-arrows arrow60 arrow-light" data-layout="slider" data-column="1" data-column2="1" data-column3="1" data-column4="1" data-gaph="0" data-gapv="0">
                                                <div id="testimonials-wrap" class="cbp">
                                                    <div class="cbp-item">
                                                        <div class="customer clearfix">
                                                            <div class="inner">
                                                                <div class="image"><img src="~/images/images.jpg" alt="image" /></div>
                                                                <h4 class="name" id="reviewby1">Isabelle J.</h4>
                                                                <!--<div class="position">Architectural Co.</div>-->
                                                                <blockquote class="whisper" id="block1">As someone who is extremely time conscious, it drives me crazy every time I have to deal with unreliable workers. The first time I hired from Urban Referral Network, the three hire options provided, gave me quick quotes and the provider I chose came early and worked efficiently. Trust me, the time it took to interview the service providers was worth keeping my sanity and is nothing compared to the losses I could incur dealing with unreliable people.</blockquote>
                                                            </div>
                                                        </div>
                                                    </div><!-- /.cbp-item -->

                                                    <div class="cbp-item">
                                                        <div class="customer clearfix">
                                                            <div class="inner">
                                                                <div class="image"><img src="~/images/modern-2446997__340.jpg" alt="image" /></div>
                                                                <h4 class="name" id="reviewby2">T.M.</h4>

                                                                <blockquote class="whisper" id="block2">After I moved from my old apartment to the current one, I needed to change the wallpaper (and I’m not so good with DIY). I spoke with my neighbor who happened to have hired off the Urban Referral Network about twice and she referred me to this place. Service delivery was great, communication was superb and my money was well spent.</blockquote>
                                                            </div>
                                                        </div>
                                                    </div><!-- /.cbp-item -->

                                                    <div class="cbp-item">
                                                        <div class="customer clearfix">
                                                            <div class="inner">
                                                                <div class="image"><img src="~/images/pexels-photo-1036623.jpeg" alt="image" /></div>
                                                                <h4 class="name" id="reviewby3">Jen.</h4>
                                                                <blockquote class="whisper" id="block3">I have dealt with so many dishonest, lazy and incompetent home repair workers who even had the effrontery to tag themselves ‘experts’ and ‘specialists’. After an episode with a plumber who was incompetent and loud mouthed (imagine the combination!), I decided that I had had enough. I spoke to my friend Laura, who introduced me to Urban Referral Networkand it’s been bliss ever since. </blockquote>
                                                            </div>
                                                        </div>
                                                    </div><!-- /.cbp-item -->

                                                    <div class="cbp-item">
                                                        <div class="customer clearfix">
                                                            <div class="inner">
                                                                <div class="image"><img src="~/images/pexels-photo-157023.jpeg" alt="image" /></div>
                                                                <h4 class="name" id="reviewby4">Caroline</h4>
                                                                <blockquote class="whisper" id="block4">If you are looking for the best rates and the best hands for your home repairs, Urban Referral Network is what you need! I have had 3 different transactions with artisans from this place and I have never been disappointed. I also got to make my pick amongst 3 competitors for every job (at no extra cost) and the artisans I finally picked were worth my time and money.</blockquote>
                                                            </div>
                                                        </div>
                                                    </div><!-- /.cbp-item -->

                                                    <div class="cbp-item">
                                                        <div class="customer clearfix">
                                                            <div class="inner">
                                                                <div class="image"><img src="~/images/pexels-photo-614810.jpeg" alt="image" /></div>
                                                                <h4 class="name" id="reviewby5">Brandon</h4>
                                                                <blockquote class="whisper" id="block5">I am currently trying to remodel my old garage into a mini man cave. Tried working with local renovators in my area but they came ridiculously priced. My co-worker told me about the<span style="color:#92d050;"> Urban Referral Network </span>and I decide to check it out. Found some really great remodelers with significantly reduced charges. I have chosen one to work with and he has some really great ideas. I think this is a great place if you’re looking for reasonably-priced, good quality work!</blockquote>
                                                            </div>
                                                        </div>
                                                    </div><!-- /.cbp-item -->
                                                    <div class="cbp-item">
                                                        <div class="customer clearfix">
                                                            <div class="inner">
                                                                <div class="image"><img src="~/images/pexels-photo-220453.jpeg" alt="image" /></div>
                                                                <h4 class="name" id="reviewby6">Jon</h4>
                                                                <blockquote class="whisper" id="block6">Our house roof suddenly started leaking last Monday and we were severely limited in options for good and affordable repair work. I was playing around online and I came across Urban Referral Network. I decided to give it a shot and the repair guy came in and got it all fixed three days ago. The process was pretty straightforward and fast. I’ll definitely use them again.</blockquote>
                                                            </div>
                                                        </div>
                                                    </div><!-- /.cbp-item -->
                                                    <div class="cbp-item">
                                                        <div class="customer clearfix">
                                                            <div class="inner">
                                                                <div class="image"><img src="~/images/pexels-photo-874158.jpeg" alt="image" /></div>
                                                                <h4 class="name" id="reviewby7">Cory Richards</h4>
                                                                <blockquote class="whisper" id="block7">I had to help my grandparents find someone to help them repair and cleanup the old fireplace in their home in preparation for last winter. Their go-to person moved out of town and finding someone as good as him (or even decent in the least) proved almost impossible. My friend told me about Urban Referral Network. I was skeptical at first but gave it a shot nonetheless. The repairman was patient with them and extremely courteous. I’m glad I listened to my friend and saved us all some headache.</blockquote>
                                                            </div>
                                                        </div>
                                                    </div><!-- /.cbp-item -->
                                                    <div class="cbp-item">
                                                        <div class="customer clearfix">
                                                            <div class="inner">
                                                                <div class="image"><img src="~/images/pexels-photo.jpg" alt="image" /></div>
                                                                <h4 class="name" id="reviewby8">Pete L.</h4>
                                                                <blockquote class="whisper" id="block8">I’m a licensed plumber. Before I joined Urban  Referral Network, I could only get few jobs (I had little access to people who needed my services). After signing up my services with Urban Referral Network, there was significant increase in the numbers of jobs I got. Also, because I have all necessary licenses, I get fair pay for my work and my clients also call me back every time they require the kind of service I provide.</blockquote>
                                                            </div>
                                                        </div>
                                                    </div><!-- /.cbp-item -->
                                                    <div class="cbp-item">
                                                        <div class="customer clearfix">
                                                            <div class="inner">
                                                                <div class="image"><img src="~/images/pexels-photo.jpg" alt="image" /></div>
                                                                <h4 class="name" id="reviewby9">Tom Richards.</h4>
                                                                <blockquote class="whisper" id="block9">I run a hardwood flooring business with my sons, Joe and Matt and it is a fairly big one. We provide hard wood installations, repairs and maintenance downtown LA. Urban Referral Network has given my business a boost. We have gotten a couple of good contracts off here and I can definitely say it works.</blockquote>
                                                            </div>
                                                        </div>
                                                    </div><!-- /.cbp-item -->
                                                    <div class="cbp-item">
                                                        <div class="customer clearfix">
                                                            <div class="inner">
                                                                <div class="image"><img src="~/images/pexels-photo.jpg" alt="image" /></div>
                                                                <h4 class="name" id="reviewby10">Mischa</h4>
                                                                <blockquote class="whisper" id="block10">If you have had enough of annoying service vendors, then, you might want to consider making your next hire here. Trust me, you will be glad you did.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</blockquote>
                                                            </div>
                                                        </div>
                                                    </div><!-- /.cbp-item -->
                                                </div><!-- /#service-wrap -->
                                            </div><!-- /.wprt-service -->
                                        }
                                    </div>
                                </div><!-- /.col-md-6 -->

                                <div class="col-md-12">
                                    <div class="wprt-spacer" data-desktop="70" data-mobi="60" data-smobi="60"></div>
                                </div><!-- /.col-md-12 -->
                            </div><!-- /.row -->
                        </div><!-- /.container -->
                        </section>
                    </div><!-- /.page-content -->
                </div>
            </div>
        </div>
    </div>



    <div id="section5">
        @if (Model != null && Model.FooterSection1 != null)
        {
            @Html.Raw(Model.FooterSection1)
        }
        else
        {
            <footer id="footer">
                <div id="footer-widgets" class="container style-1">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="widget widget_text">
                                <h2 class="widget-title" contenteditable="true"><span>ABOUT US</span></h2>
                                <div class="textwidget">
                                    <img src="~/images/urban-logo-Copy.jpg" width="100" height="" alt="image" class="margin-top-5 margin-bottom-5">
                                    <p contenteditable="true">
                                        The<span style="color:#ff9800;"> URBANetwork </span> founded in 1988 by a
                                        coalition of block clubs and community
                                        organizations to improve the quality of life
                                        in urban communities, created the Urban
                                        Referral Network in 2016 as a means to
                                        improve the quality of services and goods
                                        provided to urban consumers.
                                    </p>
                                    <div class="widget widget_links">

                                        <ul class="wprt-links clearfix col2" contenteditable="true">
                                            <li class="style-2"><a href="~/HTML/Terms" style="padding-right:15px;"> Terms & Condtions </a><a href="~/HTML/Privacy"> Privacy Policy </a></li>
                                        </ul>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="widget widget_links">
                                <h2 class="widget-title" contenteditable="true"><span>COMPANY LINKS</span></h2>
                                <ul class="wprt-links clearfix col2" contenteditable="true">
                                    <li class="style-2"><a href="~/HTML/about_us"> Phone Consultation </a></li>
                                    <li class="style-2"><a href="~/HTML/about_us"> Help Desk </a></li>
                                    <li class="style-2"><a href="~/HTML/about_us"> Senior Care </a></li>
                                </ul>

                                <form class="form-group input-group" style="margin-top: 20px;">
                                    <input type="text" class="form-control">
                                    <div class="input-group-btn">
                                        <button class="btn" type="submit">Subscribe</button>
                                    </div>
                                </form>

                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="widget widget_information">
                                <h2 class="widget-title" contenteditable="true"><span>CONTACT INFO</span></h2>
                                <ul class="style-2" contenteditable="true">
                                    <li class="address clearfix">
                                        <span class="hl">Address:</span>
                                        <span class="text">
                                            5349 Crenshaw Boulevard, Suite 101
                                            Los Angeles, CA  90043
                                        </span>
                                    </li>
                                    <li class="phone clearfix">
                                        <span class="hl">Phone:</span>
                                        <span class="text">+1 (323) 290-4089</span>
                                    </li>
                                    <li class="email clearfix">
                                        <span class="hl">E-mail:</span>
                                        <span class="text">contact@construction.com</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="widget widget_spacer">
                                <div class="wprt-spacer clearfix" data-desktop="10" data-mobi="10" data-smobi="10" style="height:10px"></div>
                            </div>
                            <div class="widget widget_socials">
                                <div class="socials">
                                    <a target="_blank" href="#"><i class="fa fa-twitter"></i></a>
                                    <a target="_blank" href="#"><i class="fa fa-facebook"></i></a>
                                    <a target="_blank" href="#"><i class="fa fa-google-plus"></i></a>
                                    <a target="_blank" href="#"><i class="fa fa-instagram"></i></a>
                                    <a target="_blank" href="#"><i class="fa fa-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        }
    </div>



    <!-- copyright -->
    <!-- Bottom -->
    <div id="section6">
        @if (Model != null && Model.FooterSection2 != null)
        {
            @Html.Raw(Model.FooterSection2)
        }
        else
        {
            <div id="bottom" class="clearfix style-1">
                <div id="bottom-bar-inner" class="wprt-container">
                    <div class="bottom-bar-inner-wrap">

                        <div class="bottom-bar-content" contenteditable="true">
                            Copyright &copy; 2018 URBAN Network.
                            <!-- /#copyright -->
                        </div><!-- /.bottom-bar-content -->
                        <div class="bottom-bar-menu" contenteditable="true">
                            Powered by YES IT Labs
                        </div><!-- /.bottom-bar-menu -->
                    </div>
                </div>
            </div>
        }
    </div>
    </div><!-- /#page -->
    </div><!-- /#wrapper -->

    <a id="scroll-top"></a>

    <!-- Javascript -->
    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/animsition.js"></script>
    <script src="~/assets/js/plugins.js"></script>
    <script src="~/assets/js/countTo.js"></script>
    <script src="~/assets/js/fitText.js"></script>
    <script src="~/assets/js/flexslider.js"></script>
    <script src="~/assets/js/vegas.js"></script>
    <script src="~/assets/js/cube.portfolio.js"></script>
    <script src="~/assets/js/main.js"></script>

    <script>
        $(document).ready(function () {
            $('div[contenteditable="true"]').attr('contenteditable', false);
            $('p[contenteditable="true"]').attr('contenteditable', false);
            $('h1[contenteditable="true"]').attr('contenteditable', false);
            $('h2[contenteditable="true"]').attr('contenteditable', false);
            $('h3[contenteditable="true"]').attr('contenteditable', false);
            $('ul[contenteditable="true"]').attr('contenteditable', false);
            $('li[contenteditable="true"]').attr('contenteditable', false);//blockquote

            $('h4[contenteditable="true"]').attr('contenteditable', false);
            $('a[contenteditable="true"]').attr('contenteditable', false);
        });

    </script>

</body>
</html>
