@model List<object>
@using SO.Urba.Managers
@using SO.Urba.Models.ValueObjects
@using SO.Utility.Extensions;
@{

    ViewBag.Title = "_List";

    var result = Model.convertTo<MemberRoleTypeVo>();

}

<table class="table table-bordered table-hover">
    <tr>
        <th>
            Name
        </th>
        <th>
            Description
        </th>
        <th>
            Created By
        </th>
        <th>
            Modified By
        </th>
        <th>
            Is Active
        </th>
        <th></th>
    </tr>

    @foreach (var item in result)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.createdBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.modifiedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isActive)
            </td>
            <td>
                <a href="@Url.Action("Edit",new { id=item.memberRoleTypeId })" class="btn" title="Edit"><i class="icon-edit"></i></a>
                <a href="@Url.Action("Details", new { id = item.memberRoleTypeId })" class="btn" title="Detail"><i class="icon-list"></i></a>
                <a href="@Url.Action("Delete", new { id = item.memberRoleTypeId })" class="btn" title="Delete"><i class="icon-trash"></i></a>
            </td>
        </tr>
    }

</table>
