@model List<object>
@using SO.Urba.Managers
@using SO.Urba.Models.ValueObjects
@using SO.Utility.Extensions;
@{

    ViewBag.Title = "Users";

    var result = Model.convertTo<MemberVo>();

}


<table class="table table-bordered table-hover">
    <tr>
        <th>
            ID
        </th>
        <th>
            User Name
        </th>
        <th>
            Full Name
        </th>
        <th>
            Rolls
        </th>
        <th></th>
    </tr>

    @foreach (MemberVo item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.memberId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.contactInfo.fullname)
            </td>
            <td>
                @{
                    MemberRoleTypeManager MRTM = new MemberRoleTypeManager();
                    foreach (var role in item.memberRoleLookupses)
                    {
                        <span style="border:inherit;padding:2px">@(MRTM.get((int)role.memberRoleTypeId).name) </span>
                    }
                }

            </td>
            <td>
                <a href="@Url.Action("Edit",new { id=item.memberId })" class="btn" title="Edit"><i class="icon-edit"></i></a>
                <a href="@Url.Action("Details",new { id=item.memberId })" class="btn" title="Detail"><i class="icon-list"></i></a>
                <a href="@Url.Action("Delete",new { id=item.memberId })" class="btn" title="Delete"><i class="icon-trash"></i></a>
            </td>
        </tr>
    }

</table>