@{
    ViewBag.Title = "Home Page";
}

<div style="text-align:center;">
    <a href="@Url.Action("Index","Member")" class="hero-unit homeMenuBox btn btn-success btn-large" style="background-color:#A4C400; ">
        Members
    </a>

    <a href="@Url.Action("Index","Email")" class="hero-unit homeMenuBox btn btn-success btn-large" style="background-color:#1BA1E2">
        Email

    </a>

    <a href="@Url.Action("Index", "Company")" class="hero-unit homeMenuBox btn btn-success btn-large" style="background-color:#AA00FF; ">
        Company
    </a>

    <a href="@Url.Action("Index","ContactInfo")" class="hero-unit homeMenuBox btn btn-success btn-large" style="background-color:#F0A30A; ">
      Contact Info
    </a>


    <a href="@Url.Action("Index","ContactMembership")" class="hero-unit homeMenuBox btn btn-success btn-large" style="background-color:#F0A30A; ">
        Contact Membership
    </a>

    <a href="@Url.Action("Index", "Organization")" class="hero-unit homeMenuBox btn btn-success btn-large" style="background-color:#E3C800; ">
        Contact Category Membership
    </a>

    <a href="@Url.Action("Index", "SurveyAnswer")" class="hero-unit homeMenuBox btn btn-success btn-large" style="background-color:#647687; ">
        SurveyAnswer
    </a>

    <a href="@Url.Action("Index", "Configuration")" class="hero-unit homeMenuBox btn btn-success btn-large" style="background-color:#D80073; ">
        Configuration
    </a>

    <a href="@Url.Action("Index","Admin")" class="hero-unit homeMenuBox btn btn-success btn-large" style="background-color:#343434; ">
        Administration
    </a>


    <a href="@Url.Action("Index","Report")" class="hero-unit homeMenuBox btn btn-success btn-large" style="background-color:#FA6800; ">
        Reports
    </a>

    <a href="@Url.Action("Index", "ReferralRecord")" class="hero-unit homeMenuBox btn btn-success btn-large" style="background-color:#E3C800; ">
        Referral Record
    </a>
    
    <span class="hero-unit homeMenuBox btn btn-success btn-large emptyBox"></span>
    <span class="hero-unit homeMenuBox btn btn-success btn-large emptyBox"></span>
    <span class="hero-unit homeMenuBox btn btn-success btn-large emptyBox"></span>
    <span class="hero-unit homeMenuBox btn btn-success btn-large emptyBox"></span>

</div>







